{% extends 'inventory/base.html' %}

{% block title %}Eliminar Cliente{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Eliminar Cliente</h1>
        <div class="alert alert-danger">
            <p>¿Estás seguro que deseas eliminar al cliente {{ object.nombre }} {{ object.apellido }}?</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}